<!-- sp2.html: SP2 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP2 - Protected Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="sp-container">
        <h2>SP2서버에 오신것을 환영합니다!</h2>
        <p>SP2 리소스 서버에 접근 성공</p>
        <button onclick="window.location.href='http://10.120.60.208:8070/resource/protected'">Go to Protected SP1 Resource</button>
        <button onclick="window.location.href='http://10.120.60.208:8070/resource/logout'">Logout</button>
		<button onclick="window.location.href='http://10.120.60.208:8080/home'">Home 화면</button>
    </div>
</body>
</html>